:root {
    --main-bg-color: #6d3838;/*rgb(15, 13, 12);*/
    --main-color-1: #17a2b8;/*#b5b5b5;*/
    --main-color-2: #96d9e4;/*rgb(45, 166, 223);*//*rgb(54, 166, 218);*/
    --main-h1-color: #ababab;
    --main-h1-font-size: 31px;
    --main-h1-font-size-1st-letter: 48px;
}

body{
    background-color: var(--main-bg-color);
}

h1, h2{
    margin-top : 43px;
    margin-bottom : 43px;
    color: var(--main-h1-color);
    font-size: var(--main-h1-font-size);
}

h1::first-letter {
    font-size: var( --main-h1-font-size-1st-letter);
}

p{
    color: white;
}

.gm-text-color{
    color: var(--main-color-1);
}

.margin-top-xm{
    margin-top : 100px;
}

.margin-top-xs{
    margin-top : 30px;
}

.margin-bottom-xm{
    margin-top : 100px;
}

.footer-text{
    color:#787777;
    font-size: 15px;
}

.gm-border-top{
    border-top-style: solid;
    border-width: 1px;
    border-color: #dee2e670;
}

.gm-alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.5s;
    margin-bottom: 15px;

    border-left-style: solid;
    border-width: 10px;
    border-color: #dee2e670;
}

.gm-alert.gm-success {background-color: #4CAF50;}
.gm-alert.gm-info {background-color: #2196F3;}
.gm-alert.gm-warning {background-color: #ff9800;}

.gm-closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.gm-closebtn:hover {
    color: black;
}